%h1 Approval Queue

- form_for(:approval, :url => approvals_path, :method => :get) do |f|
  - unless @conditions[:state].is_a?(Array) # History page shouldn't allow selecting different states
    = f.label(:state)
    = f.select(:state, options_for_select(Approval.options_for_state, @conditions[:state]))
  - if Approval.has_owner?
    = f.label(:owner_id)
    = f.select(:owner_id, options_for_select(Approval.options_for_owner, @conditions[:owner_id]), :prompt => 'All Users')
  = f.label(:item_type)
  = f.select(:item_type, options_for_select(Approval.options_for_type, @conditions[:item_type]), :prompt => 'All Types')
  = f.submit('Filter')

= render :partial => @table_partial
